{% extends 'base-mdform.html' %}

{% block article_stats %}
  <p class="text-center">{{ article.word_count }} word{{ article.word_count|pluralize }}</p>
  <p>
    Last edited on <span class="font-bold">{{ article.updated_at|date:'jS F Y' }}</span>
  </p>
{% endblock %}

{% block buttons %}
  <div class="mb-30 flex justify-between items-center">
    <a href="{% url 'app.home' %}" class="hover:font-semibold hover:text-blue-400"><i data-lucide="arrow-left" class="inline-block mr-2 h-6 w-6 mt-[-2px] text-blue-500"></i>Back to Articles</a>

    <div class="flex gap-6">
      <a href="{% url 'app.delete_article' article.id %}" class="button danger">Delete article</a>
      <button type="submit" class="button primary">Save</button>
    </div>
  </div>
{% endblock %}
