{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <h1>Articles</h1>

  <p>You have created {{ user.article_count|intcomma }} article{{ user.article.count|pluralize }}
    and written {{ user.written_words|intcomma }} word{{ user.written_words|pluralize }}</p>

  <a href="{% url 'app.create_article' %}">Add New Article</a>
  <ul>
    {% if articles %}
      {% for article in articles %}
        <li>
          {{ article.title }}
          <a href="{% url 'app.detail_article' article.id %}">👁️</a>
          <a href="{% url 'app.update_article' article.id %}">📝</a>
          <a href="{% url 'app.delete_article' article.id %}">🗑️</a>
        </li>
      {% endfor %}
    {% else %}
      <p>You have no articles yet.</p>
    {% endif %}
  </ul>
{% endblock %}
