{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Course</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <nav class="px-10 py-4 border-b border-gray-300 shadow-md">
      <div class="flex justify-end items-center gap-6">
        {% if user.is_authenticated %}
          {% with active_class='font-extrabold' inactive_class='hover:shadow-underline hover:shadow-gray-300' %}
            {% if request.resolver_match.url_name == 'app.create_article' %}
              <a class="button primary opacity-50 cursor-not-allowed" aria-disabled="true" role="link">Create new</a>
            {% else %}
              <a href="{% url 'app.create_article' %}" class="button primary">Create new</a>
            {% endif %}

            <a href="{% url 'app.home' %}"
              class="{{ inactive_class }} {% if request.resolver_match.url_name == 'app.home' %}
                {{ active_class }}
              {% endif %}">
              Articles
            </a>
            <a href="{% url 'account_email' %}"
              class="{{ inactive_class }} {% if request.resolver_match.url_name == 'account_email' %}
                {{ active_class }}
              {% endif %}">
              Change email
            </a>
            <form action="{% url 'account_logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="button secondary hover:underline">Logout</button>
            </form>
          {% endwith %}
        {% else %}
          <a href="{% url 'account_login' %}" class="button secondary text-sm">Log in</a>
          <a href="{% url 'singup' %}" class="button primary text-sm">Sign up</a>
        {% endif %}
      </div>
    </nav>

    <main class="flex-grow max-w-7xl px-4 sm:px-6 lg:px-8 mt-10 p-2 md:p-4 lg:p-6">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="fixed bottom-0 w-full flex justify-center py-4 bg-gray-500 text-white font-semibold">
      <p>endang.ismaya@2025</p>
    </footer>

    {% block page_js %}

    {% endblock %}
  </body>
</html>
