{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Django Articles{% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- navbar -->
    {% include 'includes/nav.html' %}

    <div class="p-2 md:p-4 lg:p-6">
      <!-- flash messages -->
      {% include 'includes/messages.html' %}

      {% block base_content %}

      {% endblock %}
    </div>

    {% block extra_body %}

    {% endblock %}

    <!--     
    <footer class="bottom-0 w-full flex justify-center py-4 bg-gray-500 text-white font-semibold mt-10">
      <p>endang.ismaya@2025</p>
    </footer>
        -->

    {% block page_js %}

    {% endblock %}
    <!-- Development version -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
      lucide.createIcons()
    </script>
  </body>
</html>
